<nav>
  <ul>
    <li><%= link_to "StackUnderflow", root_path %></li>
    <% if current_user %>
      <li><%= link_to "Logout", session_path(current_user), :method => "delete" %></li>
    <% end %>
  </ul>
</nav>
